body {
    background: rgb(54, 118, 197) !important;
}

.container, .card-body{
    position: relative;
}

.card{
    min-width: 25rem;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.check-status{
    font-size: 1.2em;
}

.check-status span{
    margin-left: 2%;
}


#view_password{
    position: absolute;
    right: 25px;
    top: 30px;
    cursor: pointer;
    font-size: 1.3em;
    color: #333;
}


.password{
    border: none;
    border-bottom: 2px solid #555;
    border-radius: 0px;
    transition: .2s ease-in;
}

.password:focus{
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #3498DB ;
}

.fa-check-circle{
    color: #2ECC71;
}
.fa-times-circle{
    color: #C0392B;
}